<% include ../partials/header %>
<% avatarUser.local.avatar.forEach(function(avatar){%>
    <% if(user.local.role == 'Organizator'){%>
        <% include ../partials/sidebar-organizer %>
    <%}else{%>
        <% include ../partials/sidebar %>
    <%}%>
<%})%>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">JUCATORI</h1>
        </div>

        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#bronze" role="tab" data-toggle="tab">Bronze</a></li>
            <li><a href="#silver" role="tab" data-toggle="tab">Silver</a></li>
            <li><a href="#gold" role="tab" data-toggle="tab">Gold</a></li>
            <li><a href="#platinum" role="tab" data-toggle="tab">Platinum</a></li>
            <li><a href="#diamond" role="tab" data-toggle="tab">Diamond</a></li>
            <li><a href="#masters" role="tab" data-toggle="tab">Master</a></li>
            <li><a href="#grand-masters" role="tab" data-toggle="tab">Grand Master</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active" id="bronze">
                <table style="margin-top: 20px;" class="table table-hover">
                    <%if(bronzePlayers.length == 0){%>
                        <p class="message-no-players-found">Nu am gasit jucatori de Bronze in baza de date!</p>
                    <%}else{%>
                    <tr>
                        <th>Avatar</th>
                        <th>Nickname</th>
                        <th>Battle.net ID</th>
                        <th>Rasa</th>
                        <th>Profil jucator</th>
                        <th>Trimite-i mesaj</th>
                    </tr>
                    <% bronzePlayers.forEach(function(player){ %>
                    <tr>
                        <td>
                            <% player.local.avatar.forEach(function(avatar){%>
                                <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                            <%})%>
                         </td>
                        <td><%= player.local.nickname %></td>
                        <td><%= player.local.battlenetid %></td>
                        <td><%= player.local.race %></td>
                        <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                        <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                    </tr>
                    <% }); %>
                    <%}%>
                </table>
            </div>
            <div class="tab-pane fade" id="silver">
                <table style="margin-top: 20px;" class="table table-hover">
                    <%if(silverPlayers.length == 0){%>
                        <p class="message-no-players-found">Nu am gasit jucatori de Silver in baza de date!</p>
                    <%}else{%>
                    <tr>
                        <th>Avatar</th>
                        <th>Nickname</th>
                        <th>Battle.net ID</th>
                        <th>Rasa</th>
                        <th>Profil jucator</th>
                        <th>Trimite-i mesaj</th>
                    </tr>
                    <% silverPlayers.forEach(function(player){ %>
                    <tr>
                        <td>
                            <% player.local.avatar.forEach(function(avatar){%>
                                <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                            <%})%>
                        </td>
                        <td><%= player.local.nickname %></td>
                        <td><%= player.local.battlenetid %></td>
                        <td><%= player.local.race %></td>
                        <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                        <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                    </tr>
                    <% }); %>
                    <%}%>
                </table>
            </div>
            <div class="tab-pane fade" id="gold">
                <table style="margin-top: 20px;" class="table table-hover">
                    <%if(goldPlayers.length == 0){%>
                        <p class="message-no-players-found">Nu am gasit jucatori de Gold in baza de date!</p>
                    <%}else{%>
                    <tr>
                        <th>Avatar</th>
                        <th>Nickname</th>
                        <th>Battle.net ID</th>
                        <th>Rasa</th>
                        <th>Profil jucator</th>
                        <th>Trimite-i mesaj</th>
                    </tr>
                    <% goldPlayers.forEach(function(player){ %>
                    <tr>
                        <td>
                            <% player.local.avatar.forEach(function(avatar){%>
                                <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                            <%})%>
                        </td>
                        <td><%= player.local.nickname %></td>
                        <td><%= player.local.battlenetid %></td>
                        <td><%= player.local.race %></td>
                        <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                        <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                    </tr>
                    <% }); %>
                    <%}%>
                </table>
            </div>
            <div class="tab-pane fade" id="platinum">
                <table style="margin-top: 20px;" class="table table-hover">
                    <%if(platPlayers.length == 0){%>
                        <p class="message-no-players-found">Nu am gasit jucatori de Platinum in baza de date!</p>
                    <%}else{%>
                    <tr>
                        <th>Avatar</th>
                        <th>Nickname</th>
                        <th>Battle.net ID</th>
                        <th>Rasa</th>
                        <th>Profil jucator</th>
                        <th>Trimite-i mesaj</th>
                    </tr>
                    <% platPlayers.forEach(function(player){ %>
                    <tr>
                        <td>
                            <% player.local.avatar.forEach(function(avatar){%>
                                <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                            <%})%>
                        </td>
                        <td><%= player.local.nickname %></td>
                        <td><%= player.local.battlenetid %></td>
                        <td><%= player.local.race %></td>
                        <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                        <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                    </tr>
                    <% }); %>
                    <%}%>
                </table>
            </div>
            <div class="tab-pane fade" id="diamond">
                <table style="margin-top: 20px;" class="table table-hover">
                    <%if(diamondPlayers.length == 0){%>
                        <p class="message-no-players-found">Nu am gasit jucatori de Diamond in baza de date!</p>
                    <%}else{%>
                    <tr>
                        <th>Avatar</th>
                        <th>Nickname</th>
                        <th>Battle.net ID</th>
                        <th>Rasa</th>
                        <th>Profil jucator</th>
                        <th>Trimite-i mesaj</th>
                    </tr>
                    <% diamondPlayers.forEach(function(player){ %>
                    <tr>
                        <td>
                            <% player.local.avatar.forEach(function(avatar){%>
                                <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                            <%})%>
                        </td>
                        <td><%= player.local.nickname %></td>
                        <td><%= player.local.battlenetid %></td>
                        <td><%= player.local.race %></td>
                        <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                        <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                    </tr>
                    <% }); %>
                    <%}%>
                </table>
            </div>
            <div class="tab-pane fade" id="masters">
                <table style="margin-top: 20px;" class="table table-hover">
                    <%if(masterPlayers.length == 0){%>
                        <p class="message-no-players-found">Nu am gasit jucatori de Master in baza de date!</p>
                    <%}else{%>
                    <tr>
                        <th>Avatar</th>
                        <th>Nickname</th>
                        <th>Battle.net ID</th>
                        <th>Rasa</th>
                        <th>Profil jucator</th>
                        <th>Trimite-i mesaj</th>
                    </tr>
                    <% masterPlayers.forEach(function(player){ %>
                    <tr>
                        <td>
                            <% player.local.avatar.forEach(function(avatar){%>
                                <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                            <%})%>
                        </td>
                        <td><%= player.local.nickname %></td>
                        <td><%= player.local.battlenetid %></td>
                        <td><%= player.local.race %></td>
                        <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                        <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                    </tr>
                    <% }); %>
                    <%}%>
                </table>
            </div>
            <div class="tab-pane fade" id="grand-masters">
                <table style="margin-top: 20px;" class="table table-hover">
                    <%if(gmPlayers.length == 0){%>
                        <p class="message-no-players-found">Nu am gasit jucatori de Grand Master in baza de date!</p>
                    <%}else{%>
                    <tr>
                        <th>Avatar</th>
                        <th>Nickname</th>
                        <th>Battle.net ID</th>
                        <th>Rasa</th>
                        <th>Profil jucator</th>
                        <th>Trimite-i mesaj</th>
                    </tr>
                    <% gmPlayers.forEach(function(player){ %>
                    <tr>
                        <td>
                            <% player.local.avatar.forEach(function(avatar){%>
                                <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                            <%})%>
                        </td>
                        <td><%= player.local.nickname %></td>
                        <td><%= player.local.battlenetid %></td>
                        <td><%= player.local.race %></td>
                        <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                        <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                    </tr>
                    <% }); %>
                    <%}%>
                </table>
            </div>
        </div>

    </div>
</div>

<% include ../partials/footer %>