<% include ../partials/header %>

<!--Change background for profile page based on player race-->
<% if(detailedUser.local.race == 'Terran'){%>
    <div class="background-profile-terran">
<%} else if (detailedUser.local.race == 'Zerg'){%>
    <div class="background-profile-zerg">
<%} else {%>
    <div class="background-profile-protoss">
<%}%>

    <div style="margin-top: 30px; margin-left: 25px;">
        <div class="row">
            <div class="col-xs-4 sliding-panel-main-profile">
                <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center">
                        <% userAvatar.forEach(function(avatar){ %>
                        <img alt="User Pic" width="110" height="110" src="../..<%= avatar.imagePath + '/' + avatar.imageName %>"
                             class="img-circle main-profile-image profile-small-pic"/>
                        <% }); %>
                    </div>
                    <div class=" col-md-9 col-lg-9 " style="color:white">
                        <h3>Nickname: <%= user.local.nickname %></h3>
                        <ul class="user-profile-data-list">
                            <li><i class="fa fa-envelope fa-fw"></i> Email: <%= user.local.email %></li>
                            <li><i class="fa fa-gamepad fa-fw"></i> Battle.Net ID: <%= user.local.battlenetid %></li>
                            <li><i class="fa fa-rocket fa-fw"></i> Race: <%= user.local.race %></li>
                            <li><i class="fa fa-gamepad fa-fw"></i> Liga: <%= user.local.league %></li>
                            <li><i class="fa fa-gamepad fa-fw"></i> Rol: <%= user.local.role %></li>
                        </ul>

                        <a href="/customize-profile/<%= user.local.nickname %>"
                           class="btn btn-danger btn-modifica-profilul">Modifica profilul</a>
                        <% if(user.local.role == 'admin'){ %>
                        <a href="/backend-admin/<%= user._id %>" class="btn btn-success btn-modifica-profilul">Panou
                            turnee</a>
                        <a class="btn btn-primary buton-alege-avatar" href="/avatars-users-admin/<%= user._id %>">Alege
                            un avatar</a>
                        <% }else if(user.local.role == 'Organizator'){ %>
                        <a href="/backend-organizer/<%= user._id %>" class="btn btn-success btn-modifica-profilul">Panou
                            turnee</a>
                        <a class="btn btn-primary buton-alege-avatar" href="/avatars-users/<%= user._id %>">Alege un
                            avatar</a>
                        <% }else{ %>
                        <a href="/backend-user/<%= user._id %>" class="btn btn-success btn-modifica-profilul">Panou
                            turnee</a>
                        <a class="buton-alege-avatar btn btn-primary" href="/avatars-users/<%= user._id %>">Alege un
                            avatar</a>
                        <% } %>
                    </div>
            </div>
        </div>
            <div class="col-xs-8" style="padding-top: 230px;">
                <%if(user.local.role == 'User'){%>
                    <div class="col-lg-4">
                        <div class="panel div-gradient" style="padding-bottom: 49px;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Participi in cadrul <%= detailedUser.local.tournaments.length == 0 || detailedUser.local.tournaments.length > 1 ? 'a...' : 'unui...' %></h3>
                                <p style="position: absolute; top: 40px; font-size: 12px; width: 250px;">Aici ai toate updaturile despre turneele in care participi &amp; other stuff!</p>
                            </div>
                            <div style="text-align: center">
                                <h1 style="font-size: 150px; padding-top: 30px;"><%= detailedUser.local.tournaments.length %></h1>
                                <p style="position: relative; top: -30px; font-size: 25px;"><%= detailedUser.local.tournaments.length == 0 || detailedUser.local.tournaments.length > 1 ? 'turnee' : 'turneu'%></p>
                                <a style="position:relative; top: 25px;" class="btn btn-info" href="/user-tournaments/<%= detailedUser._id%>">Turneele tale</a>
                            </div>
                        </div>
                    </div>
                <%} else if(user.local.role == 'Organizator'){%>
                    <div class="col-lg-4">
                        <div class="panel div-gradient" style="padding-bottom: 49px;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Ai organizat pana acum...</h3>
                                <p style="position: absolute; top: 40px; font-size: 12px; width: 250px;">Aici ai toate updaturile despre turneele pe care le-ai organizat!</p>
                            </div>
                            <div style="text-align: center">
                                <h1 style="font-size: 150px; padding-top: 30px;"><%= organizerTournaments.length %></h1>
                                <p style="position: relative; top: -30px; font-size: 25px;"><%= organizerTournaments.length == 0 || organizerTournaments.length > 1 ? 'turnee' : 'turneu'%></p>
                                <a style="position:relative; top: 25px;" class="btn btn-info" href="/organizer-tournaments/<%= detailedUser._id%>">Turneele tale</a>
                            </div>
                        </div>
                    </div>
                <%}else{%>
                    <div class="col-lg-4">
                        <div class="panel div-gradient" style="padding-bottom: 49px;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Exista... </h3>
                                <p style="position: absolute; top: 40px; font-size: 12px; width: 250px;">Aici ai toate updaturile despre turneele active!</p>
                            </div>
                            <div style="text-align: center">
                                <h1 style="font-size: 150px; padding-top: 30px;"><%= tournamentsActive.length %></h1>
                                <p style="position: relative; top: -30px; font-size: 25px;"><%= tournamentsActive.length == 0 || tournamentsActive.length > 1 ? 'turnee' : 'turneu'%></p>
                                <a style="position:relative; top: 25px;" class="btn btn-info" href="/open-tournaments/<%= detailedUser._id%>">Turnee deschise</a>
                            </div>
                        </div>
                    </div>
                <%}%>
                <div class="col-lg-4">
                    <div class="panel div-gradient-red" style="padding-bottom: 49px;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Ai strans in inbox...</h3>
                            <p style="position: absolute; top: 40px; font-size: 12px; width: 250px;">Mesaje de la prieteni, good news, bad news, blacklist...</p>
                        </div>
                        <div style="text-align: center">
                            <h1 style="font-size: 150px; padding-top: 30px;"><%= messages.length %></h1>
                            <p style="position: relative; top: -30px; font-size: 25px"><%= messages.length == 0 || messages.length > 1 ? 'mesaje' : 'mesaj'%></p>

                            <% if(messages.length == 0){%>
                            <p style="position:relative; top: 30px; font-size: 17px;">Pff... <i class="fa fa-frown-o"></i></p>
                            <%} else {%>
                            <a style="position:relative; top: 25px;" class="btn btn-info" href="/user-messages/<%= detailedUser._id%>">Mesajele tale</a>
                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel div-gradient-green" style="padding-bottom: 49px;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Incep in curand...</h3>
                            <p style="position: absolute; top: 40px; font-size: 12px; width: 250px;">Turnee noi inseamna noi oportunitati de castig si distrugere in masa! Protoss, Zerg... nu conteaza</p>
                        </div>
                        <div style="text-align: center">
                            <h1 style="font-size: 150px; padding-top: 30px;">5</h1>
                            <p style="position: relative; top: -30px; font-size: 25px">turnee noi</p>
                            <a style="position:relative; top: 25px;" class="btn btn-success" href="/user-tournaments/<%= detailedUser._id%>">Upcoming</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<% include ../partials/footer %>
