<% include ../partials/header %>
<div class="container" style="margin-top: 150px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"><%=user.local.nickname%></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            <% userAvatar.local.avatar.forEach(function(avatar){%>
                            <img alt="User Pic" src="../..<%= avatar.imagePath + '/' + avatar.imageName %>" class="img-circle main-profile-image profile-small-pic"/>
                            <%});%>
                        </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Nickname:</td>
                                    <td><%=user.local.nickname%></td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td><%=user.local.email%></td>
                                </tr>
                                <tr>
                                    <td>Battle.Net ID:</td>
                                    <td><%=user.local.battlenetid%></td>
                                </tr>

                                <tr>
                                <tr>
                                    <td>Race:</td>
                                    <td><%=user.local.race%></td>
                                </tr>
                                <tr>
                                    <td>Liga</td>
                                    <td><%=user.local.league%></td>
                                </tr>
                                <tr>
                                    <td>Rol</td>
                                    <td><%=user.local.role%></td>
                                </tr>
                                <tr>
                                    <td>Te putem ajuta?</td>
                                    <td><a href="mailto:turnee@starcraft2-vidcasts.ro">turnee@starcraft2-vidcasts.ro</a></td>
                                </tr>
                                </tr>

                                </tbody>
                            </table>

                            <a href="/customize-profile/<%= user.local.nickname %>" class="btn btn-primary btn-modifica-profilul">Modifica Profilul</a>
                            <%if(user.local.role == 'admin'){%>
                                <a href="/backend-admin/<%= user._id%>" class="btn btn-primary btn-modifica-profilul">Panou administrare turnee</a>
                                <a href="/avatars-users-admin/<%= user._id%>" class="btn btn-primary">Alege un avatar</a>
                            <%}else if(user.local.role == 'Organizator'){%>
                                <a href="/backend-organizer" class="btn btn-primary btn-modifica-profilul">Panou administrare turnee</a>
                            <%}else{%>
                                <a href="/backend-user/<%= user._id%>" class="btn btn-primary btn-modifica-profilul">Panou administrare turnee</a>
                                <a href="/avatars-users/<%= user._id%>" class="btn btn-primary">Alege un avatar</a>
                            <%}%>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="/customize-profile/<%= user.local.nickname %>" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                        </span>
                </div>
                <%if(user.local.role == 'admin'){%>
                    <a href="/backend-admin/<%= user._id%>">Inapoi la contul tau</a>
                <%}else if(user.local.role == 'Organizator'){%>
                    <a href="/backend-organizers">Inapoi la contul tau</a>
                <%}else {%>
                    <a href="/backend-user/<%= user._id%>">Inapoi la contul tau</a>
                <%}%>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
