<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="container-image-user">
                <a href="/profile">
                    <img alt="User Pic" width="200" height="200" src="../..<%=avatar.imagePath + '/' + avatar.imageName%>" class="img-circle main-profile-image"/>
                </a>
            </li>
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <li class="menu-section-text">
                <a class="active" href="#"><i class="fa fa-eye fa-fw"></i> Personal</a>
            </li>
            <!-- TODO - Implement this feature in a future release-->
            <!--<li>-->
                <!--<a href="/user-messages/<%=user._id%>"><i class="fa fa-envelope fa-fw"></i> Mesajele tale <span class="fa arrow"></span>-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a href="/all-organizer-tournaments/<%= user._id%>"><i class="fa fa-briefcase fa-fw"></i> Turneele tale
                    <span class="fa arrow"></span>
                </a>
            </li>

            <li class="menu-section-text">
                <a class="active" href="#"><i class="fa fa-cog fa-fw"></i> Actiuni</a>
            </li>
            <!-- TODO - Implement this feature in a future release-->
            <!--<li>-->
                <!--<a href="/send-new-message"><i class="fa fa-rocket fa-fw"></i> Trimite un mesaj <span class="fa arrow"></span>-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a href="/create-tournament/<%= user._id%>"><i class="fa fa-tasks fa-fw"></i> Creaza un turneu<span class="fa arrow"></span></a>
            </li>
            <li>
                <a href="/organizer-tournaments/<%= user._id%>"><i class="fa fa-cogs fa-fw"></i> Editeaza turneele active<span class="fa arrow"></span></a>
            </li>

            <li class="menu-section-text">
                <a class="active" href="#"><i class="fa fa-dashboard fa-fw"></i> Informatii</a>
            </li>

            <li>
                <a href="/avatars-users/<%=user._id%>"><i class="fa fa-picture-o fa-fw"></i> Colectie avatare
                    <span class="fa arrow"></span>
                </a>
            </li>
            <li>
                <a href="/open-tournaments/<%=user._id%>" class="display-active-tournaments"><i class="fa fa-trophy fa-fw"></i> Turnee deschise
                    <span class="fa arrow"></span>
                </a>
            </li>
            <li>
                <a href="/closed-tournaments/<%=user._id%>" class="display-leagues-players"><i class="fa fa-trophy fa-fw"></i> Turnee terminate<span class="fa arrow"></span></a>
            </li>
            <li>
                <a href="/players/<%=user._id%>" class="display-leagues-players"><i class="fa fa-gamepad fa-fw"></i> Jucatori<span class="fa arrow"></span></a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-public-side -->
</nav>