<div class="tab-pane fade" id="diamond">
    <table class="table table-hover table-league-players">
        <%if(diamondPlayers.length == 0){%>
        <p class="message-no-players-found">Nu am gasit jucatori de Diamond inscrisi in acest turneu!</p>
        <%}else{%>
        <tr>
            <th>Avatar</th>
            <th>Nickname</th>
            <th>Battle.net ID</th>
            <th>Rasa</th>
            <th>Liga</th>
            <th>Profil jucator</th>
            <th>Trimite-i mesaj</th>
        </tr>
        <% diamondPlayers.forEach(function(player){ %>
        <tr>
            <td>
                <% player.local.avatar.forEach(function(avatar){%>
                <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                <%})%>
            </td>
            <td><%= player.local.nickname %></td>
            <td><%= player.local.battlenetid %></td>

            <%if(player.local.race == 'Terran'){%>
            <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/terran/terran-logo-200x200.jpg"/></td>
            <%}else if(player.local.race == 'Zerg'){%>
            <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/zerg/zerg-logo-200x200.jpg"/></td>
            <%}else{%>
            <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/protoss/protoss-logo-200x200.jpg"/></td>
            <%}%>


            <td><img class="img-circle profile-pic-table-players" src="../../images/logos-ligi/diamond-logo-ligi-200x200.png"/></td>

            <%if(player._id == userId){%>
            <td><a href="/profile"><button class="btn btn-danger"><i class="fa fa-eye"></i> Profilul tau</button></a></td>
            <%} else {%>
            <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success"><i class="fa fa-eye"></i> Vezi profil</button></a></td>
            <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
            <%}%>
        </tr>
        <% }); %>
        <%}%>
    </table>
</div>