<% include partials/header.ejs %>

<%
    var races = ['Terran', 'Zerg', 'Protoss'];
    var leagues = ['Bronze', 'Silver', 'Gold', 'Platinum', 'Diamond', 'Master', 'Grand Master'];
    var roles = ['User', 'Organizator'];
%>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <% if (messageBNet.length > 0) { %>
        <div class="alert alert-danger"><%= messageBNet %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/signup" method="post">
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" required placeholder="Introdu un email valid">
            </div>
            <div class="form-group">
                <label>Parola</label>
                <input type="password" class="form-control" name="password" required placeholder="Parolele trebuie sa se potriveasca">
            </div>
            <div class="form-group">
                <label>Parola din nou</label>
                <input type="password" class="form-control" name="PasswordAgain" required placeholder="Parolele trebuie sa se potriveasca">
            </div>
            <div class="form-group">
                <label>Nickname</label>
                <input type="text" class="form-control" name="nickname" required placeholder="Minim 3 caractere, maxim 10. Poate contine litere si/sau cifre">
            </div>
            <div class="form-group">
                <label>Doresc un cont de</label>
                <select class="form-control" name="role" required>
                    <%for(var i=0; i<roles.length; i++){%>
                        <option value="<%=roles[i]%>"><%=roles[i]%></option>
                    <%}%>
                </select>
            </div>
            <div class="form-group">
                <label>Battle.net ID (fara #)</label>
                <input type="text" class="form-control" name="battlenetid" required placeholder="Introdu un cod de BattlenetID valid, fara #">
            </div>
            <div class="form-group">
                <label>Rasa cu care joci</label>
                <select class="form-control" name="race" required>
                    <% for (var i=0; i<races.length; i++){%>
                    <option value="<%=races[i]%>"><%=races[i]%></option>
                    <%}%>
                </select>
            </div>
            <div class="form-group">
                <label>Liga din care faci parte</label>
                <select class="form-control" name="league" required>
                    <%for (var i = 0; i<leagues.length; i++){%>
                    <option value="<%=leagues[i]%>"><%=leagues[i]%></option>
                    <%}%>
                </select>
            </div>
            <input type="hidden" value="5425982be4b0b7147c91e951" name="defaultAvatar"/>

            <button type="submit" class="btn btn-warning btn-lg">Signup</button>
        </form>
        <hr>
        <p>Ai deja un cont? <a href="/login">Login</a></p>
        <p>Sau mergi la <a href="/">pagina principala</a>.</p>
    </div>
</div>

<% include partials/footer.ejs %>