<% include ../partials/header.ejs %>
<% userAvatar.local.avatar.forEach(function(avatar){%>
    <%if(user.local.role == 'admin'){%>
        <% include ../partials/sidebar-admin.ejs %>
    <%}else if(user.local.role == 'Organizator'){%>
        <% include ../partials/sidebar-organizer.ejs %>
    <%}else{%>
        <% include ../partials/sidebar.ejs %>
    <%}%>
<%})%>
<script>
    tinymce.init({
        selector:'textarea',
        force_br_newlines : false,
        force_p_newlines : false,
        forced_root_block : ''
    });
</script>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Compune un mesaj</h1>
        </div>
        <form action="/send-reply/<%= receiverId%>/<%= message._id%>" method="post" role="form">
            <div class="col-lg-8">
                <div class="form-group">
                    <label for="messageSubject">Subiectul mesajului</label>
                    <input type="text" name="messageSubject" id="messageSubject" class="form-control" required value="Re: <%= message.messageSubject%>"/>
                </div>
                <div class="form-group">
                    <p class="sender-message-text"><%=receiver.local.nickname%> a scris: <%=message.messageBody%></p>
                    <textarea rows="10" name="message"></textarea>
                </div>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Trimite mesajul"/>
                    <a href="/user-messages/<%= user._id%>"><input class="btn btn-danger" value="Anuleaza"/></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default message-receiver-container">
                    <div class="panel-heading">
                        <i class="fa fa-clock-o fa-fw"></i> Acest mesaj va ajunge la:
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <%receiver.local.avatar.forEach(function(avatar){%>
                                <img class="img-circle profile-pic-send-message" src="<%=avatar.imagePath + '/' + avatar.imageName%>"/>
                                <%})%>
                            </div>
                            <div class="col-sm-8">
                                <h3><%=receiver.local.nickname%></h3>
                                <p><%=receiver.local.race + ' | ' + receiver.local.league + ' | BattlenetID: ' + receiver.local.battlenetid%></p>
                                <a href="/profile-details/<%=receiver._id%>">Profil complet</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default receiver-tournaments">
                        <div class="panel-heading">
                            <h3 class="panel-title">Turneele in care participa</h3>
                        </div>
                        <div class="panel-body">
                            <% if(receiver.local.tournaments.length == 0){%>
                            <h5>Nu participa in cadrul niciunui turneu</h5>
                            <%}%>
                            <% receiver.local.tournaments.forEach(function(tournament){%>
                            <div class="send-message-tournament-container">
                                <h5>
                                    <%= tournament.tournamentName%> |
                                    Grad ocupare: <%= Math.floor(tournament.players.length * (100 / tournament.nrOfPlayers)) + '%' %>|
                                    <a href="/tournament-details/<%=tournament._id%>/<%=user._id%>">Detalii</a>
                                </h5>
                            </div>
                            <%})%>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer.ejs %>