<%if(moment(currentDate).isSame(tournament.startDate)){%>
    <div class="no-edit-options">
        <div class="no-edit-message">
            <h1>Ne pare rau, insa optiunile de modificare a datelor turneului nu mai sunt disponibile in ziua inceperii sale...</h1>
            <h4>...vei putea sa declari castigatorul in ziua finala a concursului organizat de tine!</h4>
        </div>
    </div>
<%}%>

<% include ../../partials/header.ejs%>
    <% include ../../partials/sidebar-edit-tournament.ejs%>
    <div class="col-lg-4">
        <h4 class="info-editing-tournament-section">Informatiile de baza pentru turneu</h4>

        <% if(errorMessage.length === 0){%>
            <p class="alert-success"><%= successMessage%></p>
        <%} else {%>
            <p class="alert-danger"><%= errorMessage%></p>
        <%}%>

            <form action="/informatii-de-baza/<%= tournament._id %>/<%= user._id%>" method="post">
                <div class="form-group">
                    <label for="tournamentName">Numele turneului</label>
                    <input type="text" class="form-control" name="tournamentName" value="<%= tournament.tournamentName%>" required>
                </div>
                <div class="form-group">
                    <label for="edition">Editia turneului</label>
                    <input type="text" class="form-control" name="edition" value="<%= tournament.edition%>" >
                </div>
                <div class="form-group">
                    <label for="ingameChatChannel">Canal Ingame pentru CHAT</label>
                    <input type="text" class="form-control" name="ingameChatChannel" value="<%= tournament.ingameChatChannel%>">
                </div>
                <div class="form-group">
                    <label for="twitchStreamChannel">Canalul de Twitch pentru LIVE STREAM</label>
                    <input type="text" class="form-control" name="twitchStreamChannel" value="<%= tournament.twitchStreamChannel%>"/>
                </div>
                <div class="form-group">
                    <label for="description">Descrierea turneului(informatii suplimentare)</label>
                    <textarea class="form-control" name="description" rows="10"><%= tournament.description.trim()%></textarea>
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Confirma schimbarile</button>
            </form>


    </div>
    <% include ../../partials/advice-edit-tournament-basis.ejs%>
<% include ../../partials/footer.ejs%>