<% include ../../partials/header.ejs%>
<% include ../../partials/sidebar-edit-tournament.ejs%>

<script type="text/javascript">
    $(document).ready(function() {

        var pickerOptions = {
            minDate: 0,
            dateFormat: 'd MM yy'
        };

        $('#startDatePicker').datepicker(pickerOptions);
        $('#endDatePicker').datepicker(pickerOptions);

        $('#startHourPicker').pickatime({
            formatSubmit: 'HH:i',
            hiddenName: true
        });
    })
</script>

<div class="col-lg-4">
    <h4 class="info-editing-tournament-section">Modifica data terminarii acestui turneu</h4>
    <% if(errorMessage.length === 0){%>
        <p class="alert-success"><%= successMessage%></p>
    <%} else {%>
        <p class="alert-danger"><%= errorMessage%></p>
    <%}%>
    <form action="/tournament-end-date/<%= tournament._id%>/<%= user._id%>" method="post">
        <div class="form-group">
            <label>Data terminarii acestui turneu</label>
            <input type="text" class="form-control" disabled value="<%= moment(tournament.endDate).format("DD MMMM YYYY")%>"/>
        </div>
        <div class="form-group">
            <label>Alege alta data pentru terminarea turneului</label>
            <input type="text" class="form-control choose-tournament-date" id="endDatePicker" name="endDate" required>
            <button type="submit" class="btn btn-warning btn-lg">Confirma schimbarile</button>
        </div>
    </form>
</div>
<% include ../../partials/advice-edit-tournament-basis.ejs%>
<% include ../../partials/footer.ejs%>