<%if(moment().format('MM DD YY') == moment(tournament.startDate).format('MM DD YY')){%>
    <div class="no-edit-options">
        <div class="no-edit-message">
            <h1>Ne pare rau, insa optiunile de modificare a datelor turneului nu mai sunt disponibile in ziua inceperii sale...</h1>
            <h4>...vei putea sa declari castigatorul in ziua finala a concursului organizat de tine!</h4>
        </div>
    </div>
<%}%>

<% include ../../partials/header.ejs%>

<%
var leagues = ['Bronze', 'Silver', 'Gold', 'Platinum', 'Diamond', 'Master', 'Grand Master'];
%>

<% include ../../partials/sidebar-edit-tournament.ejs%>

<div class="col-lg-4">
    <h4 class="info-editing-tournament-section">Modifica ligile din cadrul acestui turneu</h4>
    <% if(errorMessage.length === 0){%>
        <p class="alert-success"><%= successMessage%></p>
    <%} else {%>
        <p class="alert-danger"><%= errorMessage%></p>
    <%}%>
    <div class="form-group">
        <form id="chooseNewTournamentLeagues" action="/ligi-turneu/<%= tournament._id%>/<%= user._id%>" method="post">
            <label>Ligile suportate de actualul turneu</label>
            <% tournament.openForLeagues.leagues.forEach(function(league){%>
                <div class="checkbox">
                    <input type="checkbox" name="leaguesSupported" value="<%=league%>" checked disabled/> <%=league%>
                </div>
            <%})%>
            <label for="leagues">Adauga si alte ligi pentru turneu</label>
            <% var leaguesUnsupported = underscore.difference(leagues, tournament.openForLeagues.leagues)%>
            <%for (var i=0; i < leaguesUnsupported.length; i++){%>
            <div class="checkbox">
                <input type="checkbox" name="leagues" value="<%=leaguesUnsupported[i]%>"/> <%=leaguesUnsupported[i]%>
            </div>
            <%}%>
            <button type="submit" class="btn btn-warning btn-lg">Confirma schimbarile</button>
       </form>
    </div>
</div>
<% include ../../partials/advice-edit-leagues-basis.ejs%>
<% include ../../partials/footer.ejs%>
