<% include ../../partials/header%>
<% include ../../partials/sidebar-edit-tournament%>

<script type="text/javascript">
    $(document).ready(function() {

        var dateCurrent = new Date();
        var today = new Date(dateCurrent.getFullYear(), dateCurrent.getMonth(), dateCurrent.getDate(), 0, 0, 0, 0);

        var pickerOptions = {
            minDate: today, //se poate pune si zero daca se doreste ca zilele precedente sa fie inaccesibile pentru selectie
            maxDate: new Date(2015, 12, 31),
            dateFormat: 'd MM yy'
        };

        $('#startDatePicker').datepicker(pickerOptions);
        $('#endDatePicker').datepicker(pickerOptions);

        $('#startHourPicker').pickatime({
            formatSubmit: 'HH:i',
            hiddenName: true
        });
    })
</script>

<div class="col-lg-4">
    <h4 style="padding-top: 15px;">Modifica data inceperii acestui turneu</h4>
    <% if(errorMessage.length === 0){%>
        <p class="alert-success"><%= successMessage%></p>
    <%} else {%>
        <p class="alert-danger"><%= errorMessage%></p>
    <%}%>
    <form action="/tournament-start-date/<%= tournament._id%>/<%= user._id%>" method="post">
        <div class="form-group">
            <label>Data inceperii acestui turneu</label>
            <input type="text" class="form-control" disabled value="<%= moment(tournament.startDate).format("DD MMMM YYYY")%>"/>
        </div>
        <div class="form-group">
            <!--TODO - schimba rutele de la action cu cele din edit-tournament.js -->

                <label>Alege alta data pentru inceperea turneului</label>
                    <input style="margin-bottom: 10px;" type="text" class="form-control" id="startDatePicker" name="startDate" required>
                <button type="submit" class="btn btn-warning btn-lg">Confirma schimbarile</button>
        </div>
    </form>
</div>
<% include ../../partials/advice-edit-tournament-basis.ejs%>
<% include ../../partials/footer%>