<% include ../../partials/header.ejs%>
<% include ../../partials/sidebar-edit-tournament.ejs%>

<div class="col-lg-4">
    <h4 class="info-editing-tournament-section">Modifica castigatorul acestui turneu</h4>
    <% if(errorMessage.length === 0){%>
        <p class="alert-success"><%= successMessage%></p>
    <%} else {%>
        <p class="alert-danger"><%= errorMessage%></p>
    <%}%>
    <div class="form-group">
        <%if(user.local.role == 'admin'){%>
            <form action="/modify-tournament-winner/<%= tournament._id%>/<%= user._id%>" method="post">

                <%if(tournamentPlayers.length == 0){%>
                    <p style="color: red">Nu exista jucatori inscrisi in cadrul acestui turneu!</p>
                <%}else{%>
                    <label>Actualul castigator</label>
                    <input type="text" class="form-control add-sponsors" name="winnerName" value="<%= tournament.winner.length == 0 ? 'Nu a fost declarat vreun castigator' : tournament.winner[0].local.nickname%>" disabled>
                    <label for="tournamentPlayers">Alege un castigator din cadrul participantilor in turneu</label>
                    <select class="form-control select-tournament-players" name="winnerName">
                        <%tournamentPlayers.forEach(function(player){%>
                        <option value="<%=player.local.nickname%>"><%=player.local.nickname%></option>
                        <%})%>
                    </select>
                    <button type="submit" class="btn btn-warning btn-lg">Confirma schimbarile</button>
                <%}%>
            </form>
        <%}else if(user.local.role == 'Organizator'){%>
            <form action="/modify-tournament-winner/<%= tournament._id%>/<%= user._id%>" method="post">
                <label>Actualul castigator</label>
                <input type="text" class="form-control add-sponsors" name="winnerName" value="<%= tournament.winner.length == 0 ? 'Nu a fost declarat vreun castigator' : tournament.winner[0].local.nickname%>" disabled>

                <%if(moment(currentDate).isSame(tournament.endDate)){%>
                    <label for="tournamentPlayers">Alege un castigator din cadrul participantilor in turneu</label>
                    <select class="form-control select-tournament-players" name="winnerName">
                        <%tournamentPlayers.forEach(function(player){%>
                        <option value="<%=player.local.nickname%>"><%=player.local.nickname%></option>
                        <%})%>
                    </select>
                    <button type="submit" class="btn btn-warning btn-lg">Confirma schimbarile</button>
                <%}else if(moment(currentDate).isBefore(tournament.endDate)){%>
                    <h4>Vei putea declara castigatorul in ziua de final de concurs!</h4>
                <%}else{%>
                    <label for="tournamentPlayers">Alege un castigator din cadrul participantilor in turneu</label>
                    <select class="form-control select-tournament-players" name="winnerName">
                        <%tournamentPlayers.forEach(function(player){%>
                            <option value="<%=player.local.nickname%>"><%=player.local.nickname%></option>
                        <%})%>
                    </select>
                    <button type="submit" class="btn btn-warning btn-lg">Confirma schimbarile</button>
                <%}%>
            </form>
        <%}%>
    </div>
</div>

<% include ../../partials/advice-edit-tournament-basis.ejs%>
<% include ../../partials/footer.ejs%>