<% include ../../partials/header%>
<% include ../../partials/sidebar-edit-tournament%>

<div class="col-lg-4">
    <h4 style="padding-top: 15px;">Modifica daca exista premii in cadrul acestui turneu</h4>
    <% if(errorMessage.length === 0){%>
        <p class="alert-success"><%= successMessage%></p>
    <%} else {%>
        <p class="alert-danger"><%= errorMessage%></p>
    <%}%>
    <div class="form-group">
        <p style="color:red">Momentan, acest turneu <%= tournament.prize ? ' ACCEPTA premii' : ' NU ACCEPTA premii'%></p>
    </div>
    <div class="form-group">
        <form action="/tournament-prizes/<%= tournament._id%>/<%= user._id%>" method="post">
            <label>Acest turneu ofera premii?</label>
            <label>
                <input type="radio" name="prize" id="optionsPremii1" value="true" checked>
                Da
            </label>
            <label>
                <input type="radio" name="prize" id="optionsPremii2" value="false">
                Nu
            </label>
            <button type="submit" class="btn btn-warning btn-lg">Confirma schimbarile</button>
        </form>
    </div>
</div>

<% include ../../partials/advice-edit-tournament-basis.ejs%>
<% include ../../partials/footer%>