<% include ../../partials/header %>
<% tournaments.forEach(function(tournament){ %>
<% include ../../partials/sidebar %>
<% }); %>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">JUCATORI LIGA BRONZE</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Lista jucatori Bronze
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table table-hover">
                        <table class="table table-hover">
                            <%if(bronzePlayers.length == 0){%>
                                <p>Nu am gasit jucatori de Bronze in baza de date</p>
                            <%}else{%>
                                <tr>
                                    <th>Nickname</th>
                                    <th>Battle.net ID</th>
                                    <th>Rasa</th>
                                    <th>Profil jucator</th>
                                    <th>Trimite-i mesaj</th>
                                </tr>
                                <% bronzePlayers.forEach(function(player){ %>
                                <tr>
                                    <td><%= player.local.nickname %></td>
                                    <td><%= player.local.battlenetid %></td>
                                    <td><%= player.local.race %></td>
                                    <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                                    <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                                </tr>
                                <% }); %>
                            <%}%>
                        </table>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<% include ../../partials/footer %>