<%include ../partials/header.ejs%>
<% userAvatar.local.avatar.forEach(function(avatar){ %>
    <% include ../partials/sidebar-organizer.ejs%>
<%});%>
<div id="page-wrapper" class="main-container-backend-elements">
    <div class="row">
        <div class="col-lg-12">
            <% quoteSampled.forEach(function(quote){%>
            <h1 class="welcome-title-summary-backend"><%= quote.quoteText%></h1>
            <h3 class="cristian-drincu-signature"><%= quote.quoteAuthor%></h3>
            <%})%>
            <div class="row">
                <div class="col-lg-8">
                    <div class="container-summary-tournaments">
                        <h1 class="title-reports-element"><i class="fa fa-trophy fa-fw"></i> Turnee organizate de tine</h1>
                        <h4><span><%= tournamentsLength > 1 || tournaments.length == 0 ? tournamentsLength + ' turnee' : tournamentsLength + ' turneu'%></span> in baza de date
                            <a href="/open-tournaments/<%= user._id%>"><i class="fa fa-trophy fa-1x"></i> Toate turneele</a>
                        </h4>
                        <div class="container-3-tournaments">
                            <% tournamentsSampled.forEach(function(tournament){%>
                            <a href="/tournament-details/<%= tournament._id%>/<%= user._id %>"><%= tournament.tournamentName%> :: locuri ocupate:
                                <%= Math.floor(tournament.players.length * (100 / tournament.nrOfPlayers)) + '%'%>
                            </a>
                            <div class="progress progress-striped active" style="margin-top: 5px;">
                                <%if(Math.floor(tournament.players.length * (100 / tournament.nrOfPlayers)) <= 50){%>
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                     style="width: <%= Math.floor(tournament.players.length * (100 / tournament.nrOfPlayers)) + '%'%>">
                                </div>
                                <%}else if(Math.floor(tournament.players.length * (100 / tournament.nrOfPlayers)) > 50){%>
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                                     style="width: <%= Math.floor(tournament.players.length * (100 / tournament.nrOfPlayers)) + '%'%>">
                                </div>
                                <%}%>
                            </div>
                            <%})%>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="container-summary-messages">
                        <h1 class="title-reports-element"><i class="fa fa-envelope fa-fw"></i> Mesaje</h1>
                        <h4>
                            <span><%= messages.length > 1 || messages.length == 0  ? messages.length + ' mesaje primite' : messages.length + ' mesaj primit'%></span>
                            <a href="/user-messages/<%= user._id%>"><i class="fa fa-envelope fa-1x"></i> Vezi mesajele</a>
                        </h4>
                        <%messages.forEach(function(message){%>
                            <p>Subiect: <%= message.messageSubject%></p>
                                <%message.sentBy.forEach(function(sender){%>
                                    <p>Trimis de: <%=sender.local.nickname%></p>
                            <%})%>
                        <%})%>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 border-dotted-container">
                <div class="container-summary-players">
                    <h1 class="title-reports-element"><i class="fa fa-gamepad fa-fw"></i> Jucatori</h1>
                    <h4>
                        <span><%= playersLength > 1 || playersLength == 0 ? playersLength + ' jucatori sunt' : playersLength + ' jucator e'%></span> gata de lupta
                        <a href="/players/<%= user._id%>"><i class="fa fa-gamepad fa-1x"></i> Toti jucatorii</a>
                    </h4>
                    <div class="container-3-players">
                        <%playersSampled.forEach(function(player){%>
                            <%player.local.avatar.forEach(function(avatar){%>
                                <a href="/profile-details/<%= player._id%>">
                                    <div class="col-lg-4">
                                        <img class="img-circle profile-pic-rezumat-backend" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                                        <p class="btn btn-info btn-info-player"><%= player.local.nickname%></p>
                                    </div>
                                </a>
                            <%});%>
                        <%});%>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 border-dotted-container">
                <div class="container-summary-organizers">
                    <h1 class="title-reports-element"><i class="fa fa-users fa-fw"></i> Organizatori</h1>
                    <h4><span><%= organizersLength > 1 ? organizersLength + ' organizatori pregatiti' : organizersLength + ' organizator pregatit'%></span> de actiune
                        <a href="/admin-organizers/<%= user._id%>"><i class="fa fa-users fa-1x"></i> Toti organizatorii</a>
                    </h4>
                    <div class="container-3-players">
                        <%organizersSampled.forEach(function(organizer){%>
                            <%organizer.local.avatar.forEach(function(avatar){%>
                                <a href="/profile-details/<%= organizer._id%>">
                                    <div class="col-lg-4">
                                        <img class="img-circle profile-pic-rezumat-backend" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                                        <a href="/profile-details/<%= organizer._id%>" class="btn btn-warning btn-info-player"><%= organizer.local.nickname%></a>
                                    </div>
                                </a>
                            <%});%>
                        <%});%>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="container-summary-avatars">
                    <h1 class="title-reports-element"><i class="fa fa-picture-o fa-fw"></i> Avatare</h1>
                    <h4>Ai <span><%= avatarsLength > 1 || avatarsLength == 0 ? avatarsLength + ' de avatare' : avatarsLength + ' avatar'%></span> din care sa alegi
                        <a href="/avatars-users/<%=user._id%>"><i class="fa fa-picture-o fa-1x"></i> Vezi avatarele</a>
                    </h4>
                    <div class="container-3-players">
                        <%avatarsSampled.forEach(function(avatar){%>
                            <div class="col-lg-4 container-avatars-sampled">
                                <img class="img-circle profile-pic-rezumat-backend" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                                <form action="/choose-avatar/<%= user._id%>/<%= avatar._id%>" method="post">
                                    <button class="btn btn-success btn-info-player">Alege-l</button>
                                </form>
                            </div>
                        <%});%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<% include ../partials/footer.ejs %>