<%include ../partials/header.ejs%>
<% userAvatar.local.avatar.forEach(function(avatar){ %>
    <% include ../partials/sidebar-organizer.ejs%>
<%});%>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Detalii </h1>
            <%if(tournaments.length == 0){%>
                <p>Nu ai organizat niciun turneu pana acum sau nu ai niciun turneu activ in acest moment!</p>
            <%}%>
            <%tournaments.forEach(function(tournament){%>
                <div class="col-lg-4 container-organizer-details-tournament">
                    <%if(!tournament.finishedTournament){%>
                        <h3><%= tournament.tournamentName%> | <%= Math.floor(tournament.players.length * (100 / tournament.nrOfPlayers)) + '% | ' %>
                            <span class="active-tournament-indicator">Activ</span>
                        </h3>
                    <%}else{%>
                        <h3><%= tournament.tournamentName%> | <%= Math.floor(tournament.players.length * (100 / tournament.nrOfPlayers)) + '% | ' %>
                            <span class="finished-tournament-indicator">Incheiat</span>
                        </h3>
                    <%}%>

                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= Math.floor(tournament.players.length * (100 / tournament.nrOfPlayers)) + '%'%>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7">
                            <p>Start: <%= moment(tournament.startDate).format("DD MMMM YYYY")%></p>
                            <p>Finish: <%= moment(tournament.endDate).format("DD MMMM YYYY")%></p>
                        </div>
                        <div class="col-lg-5 container-available-player-slots">
                            <p>Locuri disponibile:</p>
                            <p><span><%= tournament.nrOfPlayers%></span></p>
                        </div>
                    </div>
                    <%if(!tournament.finishedTournament){%>
                        <a class="btn btn-success" href="/tournament-details/<%=tournament._id%>/<%=user._id%>">Detalii</a>
                        <a class="btn btn-info" href="/edit-tournament/<%=tournament._id%>/<%=user._id%>">Editeaza</a>
                    <%}else{%>
                        <a class="btn btn-success" href="/tournament-details/<%=tournament._id%>/<%=user._id%>">Detalii</a>
                    <%}%>
                </div>
            <%})%>
        </div>
    </div>
</div>

<%include ../partials/footer.ejs%>