<% include ../partials/header.ejs %>
<% userAvatar.local.avatar.forEach(function(avatar){%>
    <%if(user.local.role == 'User'){%>
        <% include ../partials/sidebar.ejs %>
    <%}else if(user.local.role == 'Organizator'){%>
        <% include ../partials/sidebar-organizer.ejs%>
    <%}else if(user.local.role == 'admin'){%>
        <% include ../partials/sidebar-admin.ejs%>
    <%}%>

<%});%>

<script>
    <%- javascript %>
    $(function() {
        $( "#playerNicks" ).autocomplete({
            source: $.map(playersTournament, function(nickname){
                return nickname;
            })
        });
    });
</script>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-8">
                <h1 class="page-header">Detalii <i>
                        <%= tournament.tournamentName %>, editia <%= tournament.edition > 1 ? 'a ' + tournament.edition + '-a' : '1' %>
                    </i>
                </h1>
            </div>
            <div class="col-lg-4">
                <%if(user.local.role == 'Organizator' && !tournament.finishedTournament && ( user._id.toString() === tournament.organizer[0]._id.toString() )){%>
                <!--TODO - daca turneul este terminat, arata doar un buton cu care se pot defini castigatorii turneului-->
                <ul class="edit-menu-tournament">
                    <li>
                        <a href="/edit-tournament/<%= tournament._id %>/<%= user._id %>"><i class="fa fa-pencil-square-o"></i> Editeaza</a>
                    </li>
                    <li>
                        <a href="/create-brackets/<%= tournament._id%>"><i class="fa fa-exchange create-bracket-icon"></i> Creeaza brackets</a>
                    </li>
                    <li>
                        <a href="/delete-tournament/<%= tournament._id %>/<%= user._id %>"><i class="fa fa-trash-o"></i> Sterge</a>
                    </li>
                </ul>

                <%}else if(user.local.role == 'User'){%>
                    <%if(tournamentStatus == 1){%>
                        <h4 class="notifier-tournament-status-ongoing">Acest turneu este in desfasurare, iar inscrierile sunt inchise!</h4>
                    <%} else if(tournamentStatus == 2){%>
                        <h4 class="notifier-tournament-status-completed">Acest turneu s-a terminat!</h4>
                    <%} else {%>
                        <% if(!eligibleForTournament){%>
                            <p class="error-eligible-tournament">Acest concurs nu este deschis ligii din care faci parte. Ne pare rau!</p>
                        <%}%>

                        <% if(enlistedInTournament){%>
                            <p class="error-enlisted-tournament">Esti deja inscris in cadrul acestui turneu</p>
                        <%}%>

                        <% if(eligibleForTournament && !enlistedInTournament && (procentajOcupare != 100) ){%>
                            <form class="btn-signup-turneu-detalii" action="/signup-tournament/<%= tournament._id %>/<%= user._id %>" method="post">
                                <button class="btn btn-success">Inscrie-te</button>
                            </form>
                        <%}%>
                    <%}%>
                <%}else if(user.local.role == 'admin'){%>
                    <div class="col-lg-4">
                        <a class="btn btn-danger" href="/delete-tournament/<%= tournament._id%>/<%= user._id%>">Sterge turneul</a>
                        <!--<form class="btn-signup-turneu-detalii" action="/delete-tournament/<%= tournament._id %>/<%= user._id %>" method="post">-->
                            <!--<button class="btn btn-danger">Sterge turneul</button>-->
                        <!--</form>-->
                    </div>
                <%}%>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs tabs-player-enlisted" role="tablist">
                <li class="active"><a href="#detalii-turneu" role="tab" data-toggle="tab">Detalii turneu</a></li>
                <li><a href="#castigator-turneu" role="tab" data-toggle="tab">Castigator turneu</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="detalii-turneu">
                    <% include ../tournament/partials-tournament-details/grad-ocupare-locuri.ejs %>
                    <% include ../tournament/partials-tournament-details/date-hour-spots-details.ejs %>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default enlisted-players-main-container">
                            <div class="panel-heading">
                                <i class="fa fa-clock-o fa-fw"></i> Jucatori inscrisi: <%= tournament.players.length%>
                            </div>

                            <% include ../tournament/partials-tournament-details/tournament-players-tabs.ejs %>
                                <div class="tab-content">
                                    <!--BRONZE PLAYERS TAB-->
                                    <% include ../tournament/partials-tournament-details/tournament-players-bronze.ejs %>

                                    <!--SILVER PLAYERS TAB-->
                                    <% include ../tournament/partials-tournament-details/tournament-players-silver.ejs %>

                                    <!--GOLD PLAYERS TAB-->
                                    <% include ../tournament/partials-tournament-details/tournament-players-gold.ejs %>

                                    <!--PLATINUM PLAYERS TAB-->
                                    <% include ../tournament/partials-tournament-details/tournament-players-platinum.ejs %>

                                    <!--DIAMOND PLAYERS TAB-->
                                    <% include ../tournament/partials-tournament-details/tournament-players-diamond.ejs %>

                                    <!--MASTERS PLAYERS TAB-->
                                    <% include ../tournament/partials-tournament-details/tournament-players-masters.ejs %>

                                    <!--GRAND MASTERS PLAYERS TAB-->
                                    <% include ../tournament/partials-tournament-details/tournament-players-grand-master.ejs %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <% include ../tournament/partials-tournament-details/tournament-details-text.ejs %>
                        <% include ../tournament/partials-tournament-details/tournament-organizer.ejs %>
                    </div>

                    <div class="row">
                        <% include ../tournament/partials-tournament-details/tournament-open-for-leagues.ejs %>
                        <% include ../tournament/partials-tournament-details/tournament-chat-channel.ejs %>
                        <% include ../tournament/partials-tournament-details/tournament-twitch-channel.ejs %>
                        <% include ../tournament/partials-tournament-details/tournament-prizes.ejs %>
                    </div>
                </div>

                <div class="tab-pane fade" id="castigator-turneu">
                    <% include ../tournament/partials-tournament-details/tournament-winner.ejs %>
                </div>
            </div>
        </div>
    </div>
</div>

<%include ../partials/footer.ejs%>