<%include ../partials/header.ejs%>
<% include ../partials/sidebar%>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-8">
                <h1 class="page-header">Detalii pentru turneul <i><%=tournament.tournamentName%>, editia <%=tournament.edition > 1 ? 'a ' + tournament.edition + '-a' : ''%></i></h1>
            </div>
            <div class="col-lg-4">
                <% if(!eligibleForTournament){%>
                    <p style="padding-top: 55px; color: red">Acest concurs nu este deschis ligii din care faci parte. Ne pare rau!</p>
                <%}%>

                <% if(enlistedInTournament){%>
                    <p style="padding-top: 55px; color: red">Esti deja inscris in cadrul acestui turneu</p>
                <%}%>

                <% if(eligibleForTournament && !enlistedInTournament){%>
                    <form class="btn-signup-turneu-detalii" action="/signup-tournament/<%=tournament._id%>/<%=user._id%>" method="post">
                        <button class="btn btn-success">Inscrie-te</button>
                    </form>
                <%}%>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Gradul de ocupare a locurilor: <%= procentajOcupare%></h4>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= procentajOcupare%>">
                </div>
            </div>
        </div>

        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Data inceperii
                </div>
                <div class="panel-body">
                    <p style="text-align: center"><%=moment(tournament.startDate).format("DD MMMM YYYY")%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Data terminarii
                </div>
                <div class="panel-body">
                    <p style="text-align: center"><%=moment(tournament.endDate).format("DD MMMM YYYY")%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Ora inceperii
                </div>
                <div class="panel-body">
                    <p style="text-align: center"><%=tournament.startHour%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Locuri disponibile
                </div>
                <div class="panel-body">
                    <p style="text-align: center"><%=tournament.nrOfPlayers%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Jucatori inscrisi: <%= tournament.players.length%>
                </div>
                <div class="panel-body">
                    <ul style="list-style: none">
                        <%tournament.players.forEach(function(player){%>
                            <li><%=player.local.nickname + ', ' + player.local.race + ', ' + player.local.league%>, <a href="/profile-details/<%= player._id%>">Profil jucator</a></li>
                        <%})%>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Detalii turneu <%=tournament.tournamentName%>, editia a <%=tournament.edition%>-a
                </div>
                <div class="panel-body">
                    <p><%=tournament.description%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Organizator
                </div>
                <div class="panel-body">
                    <%tournament.organizer.forEach(function(organizer){%>
                        <p><%= organizer.local.nickname%>, <a href="/profile-details/<%= organizer._id%>">Profil organizator</a></p>
                    <%});%>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Turneu deschis urmatoarelor ligi
                </div>
                <div class="panel-body">
                    <p>
                    <%for(var i = 0; i< tournament.openForLeagues.leagues.length; i++){%>
                            <%=tournament.openForLeagues.leagues[i]%>
                    <%};%>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Canal chat SC2
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <%=tournament.ingameChatChannel%>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Canal Stream
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <a href="<%=tournament.twitchStreamChannel%>" target="_blank"><%=tournament.twitchStreamChannel%></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Premii
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <%= tournament.prize ? 'Da': 'Nu'%>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<%include ../partials/footer.ejs%>