<% include ../partials/header.ejs %>
<% userAvatar.local.avatar.forEach(function(avatar){%>
    <%if(user.local.role == 'User'){%>
        <% include ../partials/sidebar.ejs %>
    <%}else if(user.local.role == 'Organizator'){%>
        <% include ../partials/sidebar-organizer.ejs%>
    <%}else if(user.local.role == 'admin'){%>
        <% include ../partials/sidebar-admin.ejs%>
    <%}%>

<%});%>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-8">
                <h1 class="page-header">Detalii <i>
                        <%= tournament.tournamentName %>, editia <%= tournament.edition > 1 ? 'a ' + tournament.edition + '-a' : '1' %>
                    </i>
                </h1>
            </div>
            <div class="col-lg-4">
                <%if(user.local.role == 'Organizator'){%>

                <ul class="edit-menu-tournament">
                    <li>
                        <a href="/edit-tournament/<%= tournament._id %>/<%= user._id %>"><i class="fa fa-pencil-square-o"></i> Editeaza</a>
                    </li>
                    <li>
                        <a href="/create-brackets/<%= tournament._id%>"><i class="fa fa fa-sitemap"></i> Creeaza brackets</a>
                    </li>
                    <li>
                        <a href="/delete-tournament/<%= tournament._id %>/<%= user._id %>"><i class="fa fa-trash-o"></i> Sterge</a>
                    </li>
                </ul>

                <%}else if(user.local.role == 'User'){%>
                    <% if(!eligibleForTournament){%>
                        <p style="padding-top: 55px; color: red">Acest concurs nu este deschis ligii din care faci parte. Ne pare rau!</p>
                    <%}%>

                    <% if(enlistedInTournament){%>
                        <p style="padding-top: 55px; color: red">Esti deja inscris in cadrul acestui turneu</p>
                    <%}%>

                    <% if(eligibleForTournament && !enlistedInTournament && (procentajOcupare != (100))){%>
                        <form class="btn-signup-turneu-detalii" action="/signup-tournament/<%= tournament._id %>/<%= user._id %>" method="post">
                            <button class="btn btn-success">Inscrie-te</button>
                        </form>
                    <%}%>
                <%}else if(user.local.role == 'admin'){%>
                    <div class="col-lg-4">
                        <form class="btn-signup-turneu-detalii" action="/delete-tournament/<%= tournament._id %>/<%= user._id %>" method="post">
                            <button class="btn btn-danger">Sterge turneul</button>
                        </form>
                    </div>
                <%}%>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h4>Gradul de ocupare a locurilor: <%= Math.floor(procentajOcupare) + '%'%></h4>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= procentajOcupare + '%'%>">
                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Data inceperii
                </div>
                <div class="panel-body">
                    <p style="text-align: center"><%=moment(tournament.startDate).format("DD MMMM YYYY")%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Data terminarii
                </div>
                <div class="panel-body">
                    <p style="text-align: center"><%=moment(tournament.endDate).format("DD MMMM YYYY")%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Ora inceperii
                </div>
                <div class="panel-body">
                    <p style="text-align: center"><%=tournament.startHour%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Locuri disponibile
                </div>
                <div class="panel-body">
                    <p style="text-align: center"><%=tournament.nrOfPlayers%></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" style="border: none;">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Jucatori inscrisi: <%= tournament.players.length%>
                </div>

                <ul class="nav nav-tabs" role="tablist" style="margin-top: 20px;">
                    <li class="active"><a href="#bronze" role="tab" data-toggle="tab">Bronze</a></li>
                    <li><a href="#silver" role="tab" data-toggle="tab">Silver</a></li>
                    <li><a href="#gold" role="tab" data-toggle="tab">Gold</a></li>
                    <li><a href="#platinum" role="tab" data-toggle="tab">Platinum</a></li>
                    <li><a href="#diamond" role="tab" data-toggle="tab">Diamond</a></li>
                    <li><a href="#masters" role="tab" data-toggle="tab">Master</a></li>
                    <li><a href="#grand-masters" role="tab" data-toggle="tab">Grand Master</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="bronze">
                        <table style="margin-top: 20px;" class="table table-hover">
                            <%if(bronzePlayers.length == 0){%>
                            <p class="message-no-players-found">Nu am gasit jucatori de Bronze inscrisi in acest turneu!</p>
                            <%}else{%>
                            <tr>
                                <th>Avatar</th>
                                <th>Nickname</th>
                                <th>Battle.net ID</th>
                                <th>Rasa</th>
                                <th>Liga</th>
                                <th>Profil jucator</th>
                                <th>Trimite-i mesaj</th>
                            </tr>
                            <% bronzePlayers.forEach(function(player){ %>
                            <tr>

                                <td>
                                    <% player.local.avatar.forEach(function(avatar){%>
                                    <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                                    <%})%>
                                </td>
                                <td><%= player.local.nickname %></td>
                                <td><%= player.local.battlenetid %></td>

                                    <%if(player.local.race == 'Terran'){%>
                                        <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/terran/terran-logo-200x200.jpg"/></td>
                                    <%}else if(player.local.race == 'Zerg'){%>
                                        <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/zerg/zerg-logo-200x200.jpg"/></td>
                                    <%}else{%>
                                        <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/protoss/protoss-logo-200x200.jpg"/></td>
                                    <%}%>

                                <td><img class="img-circle profile-pic-table-players" src="../../images/logos-ligi/bronze-logo-ligi-200x200.png"/></td>

                                <%if(player._id == userId){%>
                                    <td><a href="/profile"><button class="btn btn-danger">Profilul tau</button></a></td>
                                <%} else {%>
                                    <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                                    <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                                <%}%>

                            </tr>
                            <% }); %>
                            <%}%>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="silver">
                        <table style="margin-top: 20px;" class="table table-hover">
                            <%if(silverPlayers.length == 0){%>
                            <p class="message-no-players-found">Nu am gasit jucatori de Silver inscrisi in acest turneu!</p>
                            <%}else{%>
                            <tr>
                                <th>Avatar</th>
                                <th>Nickname</th>
                                <th>Battle.net ID</th>
                                <th>Rasa</th>
                                <th>Liga</th>
                                <th>Profil jucator</th>
                                <th>Trimite-i mesaj</th>
                            </tr>
                            <% silverPlayers.forEach(function(player){ %>
                            <tr>
                                <td>
                                    <% player.local.avatar.forEach(function(avatar){%>
                                    <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                                    <%})%>
                                </td>
                                <td><%= player.local.nickname %></td>
                                <td><%= player.local.battlenetid %></td>

                                <%if(player.local.race == 'Terran'){%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/terran/terran-logo-200x200.jpg"/></td>
                                <%}else if(player.local.race == 'Zerg'){%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/zerg/zerg-logo-200x200.jpg"/></td>
                                <%}else{%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/protoss/protoss-logo-200x200.jpg"/></td>
                                <%}%>

                                <td><img class="img-circle profile-pic-table-players" src="../../images/logos-ligi/silver-logo-ligi-200x200.png"/></td>
                                <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                                <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                            </tr>
                            <% }); %>
                            <%}%>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="gold">
                        <table style="margin-top: 20px;" class="table table-hover">
                            <%if(goldPlayers.length == 0){%>
                            <p class="message-no-players-found">Nu am gasit jucatori de Gold inscrisi in acest turneu!</p>
                            <%}else{%>
                            <tr>
                                <th>Avatar</th>
                                <th>Nickname</th>
                                <th>Battle.net ID</th>
                                <th>Rasa</th>
                                <th>Liga</th>
                                <th>Profil jucator</th>
                                <th>Trimite-i mesaj</th>
                            </tr>
                            <% goldPlayers.forEach(function(player){ %>
                            <tr>
                                <td>
                                    <% player.local.avatar.forEach(function(avatar){%>
                                    <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                                    <%})%>
                                </td>
                                <td><%= player.local.nickname %></td>
                                <td><%= player.local.battlenetid %></td>

                                <%if(player.local.race == 'Terran'){%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/terran/terran-logo-200x200.jpg"/></td>
                                <%}else if(player.local.race == 'Zerg'){%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/zerg/zerg-logo-200x200.jpg"/></td>
                                <%}else{%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/protoss/protoss-logo-200x200.jpg"/></td>
                                <%}%>

                                <td><img class="img-circle profile-pic-table-players" src="../../images/logos-ligi/gold-logo-ligi-200x200.png"/></td>
                                <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                                <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                            </tr>
                            <% }); %>
                            <%}%>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="platinum">
                        <table style="margin-top: 20px;" class="table table-hover">
                            <%if(platinumPlayers.length == 0){%>
                            <p class="message-no-players-found">Nu am gasit jucatori de Platinum inscrisi in acest turneu!</p>
                            <%}else{%>
                            <tr>
                                <th>Avatar</th>
                                <th>Nickname</th>
                                <th>Battle.net ID</th>
                                <th>Rasa</th>
                                <th>Liga</th>
                                <th>Profil jucator</th>
                                <th>Trimite-i mesaj</th>
                            </tr>
                            <% platinumPlayers.forEach(function(player){ %>
                            <tr>
                                <td>
                                    <% player.local.avatar.forEach(function(avatar){%>
                                    <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                                    <%})%>
                                </td>
                                <td><%= player.local.nickname %></td>
                                <td><%= player.local.battlenetid %></td>

                                <%if(player.local.race == 'Terran'){%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/terran/terran-logo-200x200.jpg"/></td>
                                <%}else if(player.local.race == 'Zerg'){%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/zerg/zerg-logo-200x200.jpg"/></td>
                                <%}else{%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/protoss/protoss-logo-200x200.jpg"/></td>
                                <%}%>

                                <td><img class="img-circle profile-pic-table-players" src="../../images/logos-ligi/platinum-logo-ligi-200x200.png"/></td>
                                <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                                <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                            </tr>
                            <% }); %>
                            <%}%>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="diamond">
                        <table style="margin-top: 20px;" class="table table-hover">
                            <%if(diamondPlayers.length == 0){%>
                            <p class="message-no-players-found">Nu am gasit jucatori de Diamond inscrisi in acest turneu!</p>
                            <%}else{%>
                            <tr>
                                <th>Avatar</th>
                                <th>Nickname</th>
                                <th>Battle.net ID</th>
                                <th>Rasa</th>
                                <th>Liga</th>
                                <th>Profil jucator</th>
                                <th>Trimite-i mesaj</th>
                            </tr>
                            <% diamondPlayers.forEach(function(player){ %>
                            <tr>
                                <td>
                                    <% player.local.avatar.forEach(function(avatar){%>
                                    <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                                    <%})%>
                                </td>
                                <td><%= player.local.nickname %></td>
                                <td><%= player.local.battlenetid %></td>

                                <%if(player.local.race == 'Terran'){%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/terran/terran-logo-200x200.jpg"/></td>
                                <%}else if(player.local.race == 'Zerg'){%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/zerg/zerg-logo-200x200.jpg"/></td>
                                <%}else{%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/protoss/protoss-logo-200x200.jpg"/></td>
                                <%}%>

                                <td><img class="img-circle profile-pic-table-players" src="../../images/logos-ligi/diamond-logo-ligi-200x200.png"/></td>
                                <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                                <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                            </tr>
                            <% }); %>
                            <%}%>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="masters">
                        <table style="margin-top: 20px;" class="table table-hover">
                            <%if(mastersPlayers.length == 0){%>
                            <p class="message-no-players-found">Nu am gasit jucatori de Master inscrisi in acest turneu!</p>
                            <%}else{%>
                            <tr>
                                <th>Avatar</th>
                                <th>Nickname</th>
                                <th>Battle.net ID</th>
                                <th>Rasa</th>
                                <th>Liga</th>
                                <th>Profil jucator</th>
                                <th>Trimite-i mesaj</th>
                            </tr>
                            <% mastersPlayers.forEach(function(player){ %>
                            <tr>
                                <td>
                                    <% player.local.avatar.forEach(function(avatar){%>
                                    <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                                    <%})%>
                                </td>
                                <td><%= player.local.nickname %></td>
                                <td><%= player.local.battlenetid %></td>

                                <%if(player.local.race == 'Terran'){%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/terran/terran-logo-200x200.jpg"/></td>
                                <%}else if(player.local.race == 'Zerg'){%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/zerg/zerg-logo-200x200.jpg"/></td>
                                <%}else{%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/protoss/protoss-logo-200x200.jpg"/></td>
                                <%}%>

                                <td><img class="img-circle profile-pic-table-players" src="../../images/logos-ligi/masters-logo-ligi-200x200.png"/></td>
                                <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                                <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                            </tr>
                            <% }); %>
                            <%}%>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="grand-masters">
                        <table style="margin-top: 20px;" class="table table-hover">
                            <%if(grandMasterPlayers.length == 0){%>
                            <p class="message-no-players-found">Nu am gasit jucatori de Grand Master inscrisi in acest turneu!</p>
                            <%}else{%>
                            <tr>
                                <th>Avatar</th>
                                <th>Nickname</th>
                                <th>Battle.net ID</th>
                                <th>Rasa</th>
                                <th>Liga</th>
                                <th>Profil jucator</th>
                                <th>Trimite-i mesaj</th>
                            </tr>
                            <% grandMasterPlayers.forEach(function(player){ %>
                            <tr>
                                <td>
                                    <% player.local.avatar.forEach(function(avatar){%>
                                    <img class="img-circle profile-pic-table-players" src="<%= avatar.imagePath + '/' + avatar.imageName%>"/>
                                    <%})%>
                                </td>
                                <td><%= player.local.nickname %></td>
                                <td><%= player.local.battlenetid %></td>

                                <%if(player.local.race == 'Terran'){%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/terran/terran-logo-200x200.jpg"/></td>
                                <%}else if(player.local.race == 'Zerg'){%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/zerg/zerg-logo-200x200.jpg"/></td>
                                <%}else{%>
                                    <td><img class="img-circle profile-pic-table-players" src="../../images/race-logo/protoss/protoss-logo-200x200.jpg"/></td>
                                <%}%>

                                <td><img class="img-circle profile-pic-table-players" src="../../images/logos-ligi/grand-master-logo-ligi-200x200.png"/></td>
                                <td><a href="/profile-details/<%= player._id%>"><button class="btn btn-success">Vezi profil</button></a></td>
                                <td><a href="/send-message/<%= player._id%>"><button class="btn btn-info">Compune</button></a></td>
                            </tr>
                            <% }); %>
                            <%}%>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Detalii turneu <%=tournament.tournamentName%>, editia a <%=tournament.edition%>-a
                </div>
                <div class="panel-body">
                    <p><%=tournament.description%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Organizator
                </div>
                <div class="panel-body">
                    <%tournament.organizer.forEach(function(organizer){%>
                        <p><%= organizer.local.nickname%>, <a href="/profile-details/<%= organizer._id%>">Profil organizator</a></p>
                    <%});%>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Turneu deschis urmatoarelor ligi
                </div>
                <div class="panel-body">
                    <p>
                    <%for(var i = 0; i< tournament.openForLeagues.leagues.length; i++){%>
                            <%=tournament.openForLeagues.leagues[i] +
                                (tournament.openForLeagues.leagues[i] == tournament.openForLeagues.leagues[tournament.openForLeagues.leagues.length-1] ? '.': ', ')
                            %>
                    <%};%>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Canal chat SC2
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <%=tournament.ingameChatChannel%>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Canal Stream
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <a href="<%=tournament.twitchStreamChannel%>" target="_blank"><%=tournament.twitchStreamChannel%></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Premii
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <%= tournament.prize ? 'Da': 'Nu'%>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
<!-- /#wrapper -->
<%include ../partials/footer.ejs%>