<%include ../partials/header.ejs%>
<%tournaments.forEach(function(tournament){%>
<% include ../partials/sidebar-admin%>
<%});%>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <h1 class="page-header">Detalii pentru turneul <i><%=tournament.tournamentName%>, editia <%=tournament.edition > 1 ? 'a ' + tournament.edition + '-a' : '1'%></i></h1>
            </div>
            <div class="col-lg-3">
                <form class="btn-signup-turneu-detalii" action="/delete-tournament/<%=tournament._id%>" method="post">
                    <button class="btn btn-danger">Sterge turneul</button>
                </form>
            </div>
            <div class="col-lg-3">
                <form class="btn-signup-turneu-detalii" action="/edit-tournament/<%=tournament._id%>" method="post">
                    <button class="btn btn-info">Modifica detaliile turneului</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Data inceperii
                </div>
                <div class="panel-body">
                    <p style="text-align: center"><%=moment(tournament.startDate).format("DD MMMM YYYY")%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Data terminarii
                </div>
                <div class="panel-body">
                    <p style="text-align: center"><%=moment(tournament.endDate).format("DD MMMM YYYY")%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Ora inceperii
                </div>
                <div class="panel-body">
                    <p style="text-align: center"><%=tournament.startHour%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Locuri disponibile
                </div>
                <div class="panel-body">
                    <p style="text-align: center"><%=tournament.nrOfPlayers%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Jucatori inscrisi
                </div>
                <div class="panel-body">
                    <ul style="list-style: none">
                        <%tournament.players.forEach(function(player){%>
                        <li><%=player.local.nickname + ', ' + player.local.race + ', ' + player.local.league%>, <a href="/profile-details/<%= player._id%>">Profil jucator</a></li>
                        <%})%>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Detalii turneu <%=tournament.tournamentName%>, editia a <%=tournament.edition%>-a
                </div>
                <div class="panel-body">
                    <p><%=tournament.description%></p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Organizator
                </div>
                <div class="panel-body">
                    <%tournament.organizer.forEach(function(organizer){%>
                    <p><%= organizer.local.nickname%>, <a href="/profile-details/<%= organizer._id%>">Profil organizator</a></p>
                    <%});%>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Turneu deschis urmatoarelor ligi
                </div>
                <div class="panel-body">
                    <p>
                        <%for(var i = 0; i< tournament.openForLeagues.leagues.length; i++){%>

                        <%=tournament.openForLeagues.leagues[i]%>
                        <%};%>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Canal chat SC2
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <%=tournament.ingameChatChannel%>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Canal Stream
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <a href="<%=tournament.twitchStreamChannel%>" target="_blank"><%=tournament.twitchStreamChannel%></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Premii
                </div>
                <div class="panel-body">
                    <p style="text-align: center;">
                        <%= tournament.prize ? 'Da': 'Nu'%>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
<%include ../partials/footer.ejs%>