<%include ../partials/header.ejs%>
<% userAvatar.local.avatar.forEach(function(avatar){%>
<% include ../partials/sidebar%>
<%});%>
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Lista turneelor in care te-ai inscris</h1>
            <%if(errorMessage.length == 0){%>
                <p class="success-message-flash"><%= successMessage%></p>
            <%}else{%>
                <p class="error-message-flash"><%= errorMessage%></p>
            <%}%>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Lista turnee
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table class="table table-hover">
                        <% if(playerTournamentsUser.local.tournaments.length == 0){%>
                            <p>Momentan, nu esti inscris in cadrul vreunui turneu!</p>
                        <%}else{%>
                        <tr>
                            <th>Numele turneului</th>
                            <th>Locuri disponibile</th>
                            <th>Editia</th>
                            <th>Data inceperii</th>
                            <th>Data terminarii</th>
                            <th>Premii</th>
                            <th>Detalii</th>
                            <th>Retrage-te din turneu</th>
                        </tr>
                        <% playerTournamentsUser.local.tournaments.forEach(function(tournament){ %>
                        <tr>
                            <td><%= tournament.tournamentName %></td>
                            <td><%= tournament.nrOfPlayers %></td>
                            <td><%= tournament.edition %></td>
                            <td><%= moment(tournament.startDate).format("DD MMMM YYYY") %></td>
                            <td><%= moment(tournament.endDate).format("DD MMMM YYYY") %></td>
                            <td>
                                <%= tournament.prize ? 'Da' : 'Nu'%>
                            </td>
                            <td>
                                <a href="/tournament-details/<%= tournament._id %>/<%= user._id%>">
                                    <button class="btn btn-success">Detalii</button>
                                </a>
                            </td>
                            <td>
                                <form method="post" action="/retragere-din-turneu/<%=user._id%>/<%= tournament._id%> ">
                                    <button class="btn btn-danger" data-toggle="modal" data-target="#modalRetragere">Retrage-te din acest turneu</button>
                                </form>
                            </td>
                        </tr>
                        <% })}; %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<% include ../partials/footer %>